@model FoxNetSoft.Plugin.Misc.Articles.Models.Admin.TabContentModel
@inject AdminAreaSettings adminAreaSettings
@using Nop.Core.Domain.Common
@using Microsoft.AspNetCore.Routing
@{
    Layout = "";
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="articles-grid"></div>
            <script>
                $(document).ready(function () {
                    $("#articles-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("AdminTabStripContentList", "ArticleAdmin", new RouteValueDictionary { { "entityGroup", Model.EntityGroup }, { "entityId", Model.EntityId } }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("AdminTabStripContentDelete", "ArticleAdmin", new RouteValueDictionary { { "entityGroup", Model.EntityGroup }, { "entityId", Model.EntityId } }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Title",
                            title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Article.Fields.Title")",
                            template: '<a href="@Url.Content("~/Admin/ArticleAdmin/Edit/")#=Id#">#:Title#</a>'
                        }, {
                            field: "Stores",
                            title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Article.Fields.Stores")",
                            width: 200
                        }, {
                            field: "Published",
                            title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Published")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                        }, {
                            command: [{
                                name: "destroy",
                                text: "@T("Admin.Common.Delete")"
                            }],
                            width: 200
                        }]
                    });
                });
            </script>
        </div>

        <div class="panel-footer">
            <input type="submit" id="btnAddNewArticle" name="btnAddNewArticle" value="@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Article.AddNew")"
                   onclick="javascript:OpenWindow('@(Url.Action("ArticleAddPopup", "ArticleAdmin", new { entitygroup = Model.EntityGroup, entityid = Model.EntityId, btnId = "btnRefreshArticleTab", formId = Model.FormId, area = "Admin" }))    ', 800, 800, true); return false;"
                   class="btn btn-primary" />

            <input type="submit" id="btnRefreshArticleTab" name="btnRefreshArticleTab" style="display: none" />
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefreshArticleTab').click(function () {
                        //refresh grid
                        $("#articles-grid").data('kendoGrid').dataSource.read();
                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>
    </div>
</div>
