@model FoxNetSoft.Plugin.Misc.Articles.Models.ArticleGroupNavigationModel
@using FoxNetSoft.Plugin.Misc.Articles.Models
@using FoxNetSoft.Plugin.Misc.Articles.Helpers
@if (Model.ArticleGroups.Any())
{
    foreach (var articleGroup in Model.ArticleGroups)
    {
        <div class="block block-articlegroup-navigation">
            <div class="title">
                @if (!Model.UseRootGroupAsAHeader)
                {
                    <strong class="articlegroupline @(articleGroup.Id == Model.CurrentArtcileGroupId ? "active" : "inactive")">
                        <a href="@Url.RouteUrl("ArticleGroupPost", new { SeName = articleGroup.SeName })">
                            @articleGroup.Name
                            @if (articleGroup.NumberOfArticles.HasValue && articleGroup.NumberOfArticles > 0)
                            {
                                <text> (@(articleGroup.NumberOfArticles.Value))</text>
                            }
                        </a>
                    </strong>
                }
                else
                {
                    <strong>@articleGroup.Name</strong>
                }
            </div>
            <div class="listbox">
                <ul class="list">
                    @foreach (var aGroup in articleGroup.SubArticleGroups)
                    {
                        var articleGroupLineModel = new ArticleGroupNavigationModel.ArticleGroupLineModel
                        {
                            CurrentArtcileGroupId = Model.CurrentArtcileGroupId,
                            CurrentArtcileId = Model.CurrentArtcileId,
                            ArticleGroup = aGroup
                        };
                        @await Html.PartialAsync(ResolveViewPathHelper.GetViewPath("Article/_ArticleGroupLine.Navigation"), articleGroupLineModel)
                    }
                </ul>
            </div>
        </div>
    }
}
<div class="search-input">
    <form asp-route="ArticleSearch" method="get">
        <input type="submit" value="@T("FoxNetSoft.Plugin.Misc.Articles.Search.Link")" class="button-1 search-button">
    </form>
</div>
