@model IList<FoxNetSoft.Plugin.Misc.Articles.Models.ArticleOverviewModel>
@inject IWorkContext workContext
@using Nop.Core
@using Nop.Web.Framework.UI
@using FoxNetSoft.Plugin.Misc.Articles.Helpers
    @{
        Html.AddCssFileParts(ResolveViewPathHelper.GetThemesCSSPath("styles.css"));
        var supportRtl = workContext.WorkingLanguage.Rtl;
        if (supportRtl)
        {
            Html.AddCssFileParts(ResolveViewPathHelper.GetThemesCSSPath("styles.rtl.css"));
        }
    }
    <div class="block article-newline">
        <div class="title article-newline-title">
            <strong>
                @T("FoxNetSoft.Plugin.Misc.Articles.NewsLine.Article")
            </strong>
        </div>
        <div class="listbox article-newline-list">
            <ul class="list">
                @foreach (var item in Model)
            {
                    <li class="article-newline-item" data-articleid="@item.Id">
                        <div class="picture">
                            <a href="@Url.RouteUrl("ArticlePost", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            </a>
                        </div>
                        <div class="details">
                            <strong class="article-title">
                                <a class="article-title" href="@Url.RouteUrl("ArticlePost", new { SeName = item.SeName })">@item.Title</a>
                            </strong>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
