@model FoxNetSoft.Plugin.Misc.Articles.Models.Admin.ArticleModel

@inject IStoreService storeService
@inject IArticleService articleService

@using FoxNetSoft.Plugin.Misc.Articles.Models.Admin
@using FoxNetSoft.Plugin.Misc.Articles.Services
@using Nop.Core.Domain.Catalog;
@using Nop.Services.Catalog;
@using System.Text;
@using System.Text.Encodings.Web
@using Nop.Services
@using Nop.Services.Stores

@{
    var stores = storeService.GetAllStores();

    //resources for product tags input
    Html.AppendCssFileParts("~/lib/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.caret.min.js");
}

<script type="text/javascript">
        @{
            //TODO move to Model
            var articleTags = articleService.GetAllArticleTags(0, true);
            var articleTagsSb = new StringBuilder();
            articleTagsSb.Append("var initialArticleTags = [");
            for (int i = 0; i < articleTags.Count; i++)
            {
                var tag = articleTags[i];
                articleTagsSb.Append("'");
                articleTagsSb.Append(JavaScriptEncoder.Default.Encode(tag.Name));
                articleTagsSb.Append("'");
                if (i != articleTags.Count - 1)
                {
                    articleTagsSb.Append(",");
                }
            }
            articleTagsSb.Append("]");
        }

    //tags
    $(document).ready(function() {
        @Html.Raw(articleTagsSb.ToString())
        $("#@Html.IdFor(model => model.Tags)").tagEditor({
            autocomplete: {
                delay: 0,
                position: { collision: 'flip' },
                source: initialArticleTags
            },
            delimiter: ',',
            placeholder: '@T("Admin.FoxNetSoft.Plugin.Misc.Articles.ArticleTags.Placeholder")'
        });
    });
</script>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            @(Html.LocalizedEditor<ArticleModel, ArticleLocalizedModel>("article-info-localized",
                @<div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].Title" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Locales[item].Title" />
                            <span asp-validation-for="@Model.Locales[item].Title"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Locales[item].Body" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Locales[item].Body" asp-template="RichEditor" />
                            <span asp-validation-for="@Model.Locales[item].Body"></span>
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                </div>
                    ,
                @<div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Title" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Title" />
                            <span asp-validation-for="Title"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="@Model.Body" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="@Model.Body" asp-template="RichEditor" />
                            <span asp-validation-for="@Model.Body"></span>
                        </div>
                    </div>
                </div>
                    ))
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ArticleTemplateId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="ArticleTemplateId" asp-items="Model.AvailableArticleTemplates" />
                    <span asp-validation-for="ArticleTemplateId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="PictureId" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="PictureId" />
                    <span asp-validation-for="PictureId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IncludeInSitemap" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="IncludeInSitemap" />
                    <span asp-validation-for="IncludeInSitemap"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ShowOnHomePage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ShowOnHomePage" />
                    <span asp-validation-for="ShowOnHomePage"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AllowComments" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AllowComments" />
                    <span asp-validation-for="AllowComments"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Tags" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Tags" />
                    <span asp-validation-for="Tags"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DateUtc" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="DateUtc" />
                    <span asp-validation-for="DateUtc"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SelectedCustomerRoleIds" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <nop-select asp-for="SelectedCustomerRoleIds" asp-items="Model.AvailableCustomerRoles" asp-multiple="true" />
                            <script type="text/javascript">
                        $(document).ready(function() {
                            var rolesIdsInput = $('#@Html.IdFor(model => model.SelectedCustomerRoleIds)')
                                .data("kendoMultiSelect");
                            rolesIdsInput.setOptions({
                                autoClose: false,
                                filter: "contains"
                            });

                            @if (Model.AvailableCustomerRoles.Count == 0)
                            {
                                <text>
                                    rolesIdsInput.setOptions({
                                        enable: false,
                                        placeholder: 'No customer roles available'
                                    });
                                    rolesIdsInput._placeholder();
                                    rolesIdsInput._enable();
                                </text>
                            }
                        });
                            </script>
                        </div>
                        <div class="col-md-8">
                            @await Component.InvokeAsync("AclDisabledWarning")
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SelectedStoreIds" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <nop-select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true" />
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)').data("kendoMultiSelect");
                                    storesIdsInput.setOptions({
                                        autoClose: false,
                                        filter: "contains"
                                    });

                                    @if (Model.AvailableStores.Count == 0)
                            {
                                <text>
                                    storesIdsInput.setOptions({
                                        enable: false,
                                        placeholder: 'No stores available'
                                    });
                                    storesIdsInput._placeholder();
                                    storesIdsInput._enable();
                                    </text>
                            }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Published" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Published" />
                    <span asp-validation-for="Published"></span>
                </div>
            </div>
        </div>
    </div>
</div>
