@model FoxNetSoft.Plugin.Misc.Articles.Models.Admin.TabContentModel
@inject AdminAreaSettings adminAreaSettings
@using Nop.Core.Domain.Common
@using Microsoft.AspNetCore.Routing
@{
    Layout = "";
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
                <div id="articlecommentfilter-grid"></div>
                <script>
                    $(document).ready(function () {
                        $("#articlecommentfilter-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("AdminTabStripContentCustomerList", "ArticleAdmin", new RouteValueDictionary { { "entityGroup", Model.EntityGroup }, { "entityId", Model.EntityId } }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("CommentDelete", "ArticleAdmin"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            //do not implicitly specify all fields
                                            //we do it only for fields which implicitly require it
                                            //otherwise, they'll be formatted wrong way
                                            CreatedOn: {type: "date" }
                                        }
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "Id",
                                title: "ID",
                                width: 50
                            }, {
                                field: "ArticleTitle",
                                title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Comments.Fields.Article")",
                                width: 200,
                                template: '<a href="@Url.Content("~/Admin/ArticleAdmin/Edit/")#=ArticleId#">#:ArticleTitle#</a>'
                            }, {
                                field: "CustomerId",
                                title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Comments.Fields.Customer")",
                                width: 200,
                                template: '<a href="@Url.Content("~/Admin/Customer/Edit/")#=CustomerId#">#:CustomerInfo#</a>'
                            }, {
                                field: "Comment",
                                title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Comments.Fields.Comment")",
                                encoded: false
                            }, {
                                field: "CreatedOn",
                                title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Comments.Fields.CreatedOn")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                                title: "@T("Admin.Common.Delete")",
                                width: 100
                            }]
                        });
                    });
                </script>
            </div>

            <div class="panel-footer">
                <input type="submit" id="btnRefreshArticleCommentFilter" name="btnRefreshArticleCommentFilter" style="display: none" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#btnRefreshArticleCommentFilter').click(function () {
                            //refresh grid
                            $("#articlecommentfilter-grid").data('kendoGrid').dataSource.read();
                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>
            </div>
        </div>
    </div>
