@model FoxNetSoft.Plugin.Misc.Articles.Models.Admin.ArticleListModel
@inject AdminAreaSettings adminAreaSettings
@using Nop.Core.Domain.Common
@{
    Layout = "_AdminLayout";
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    //page title
    ViewBag.Title = @T("Admin.FoxNetSoft.Plugin.Misc.Articles.List.Manage").Text;

    Html.SetActiveMenuItemSystemName("FoxNetSoft.Articles.Articles");
}
<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.FoxNetSoft.Plugin.Misc.Articles.List.Manage")
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchArticleTitle" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchArticleTitle" />
                                </div>
                            </div>
                            <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchStoreId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="btnSearch" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="articles-grid"></div>
                    <script>
                                $(document).ready(function () {
                                    $("#articles-grid").kendoGrid({
                                        dataSource: {
                                            type: "json",
                                            transport: {
                                                read: {
                                                    url: "@Html.Raw(Url.Action("List", "ArticleAdmin"))",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: additionalData
                                                }
                                            },
                                            schema: {
                                                data: "Data",
                                                total: "Total",
                                                errors: "Errors"
                                            },
                                            error: function(e) {
                                                display_kendoui_grid_error(e);
                                                // Cancel the changes
                                                this.cancelChanges();
                                            },
                                            pageSize: @(defaultGridPageSize),
                                            serverPaging: true,
                                            serverFiltering: true,
                                            serverSorting: true
                                        },
                                        pageable: {
                                            refresh: true,
                                            pageSizes: [@(gridPageSizes)]
                                        },
                                        editable: {
                                            confirmation: false,
                                            mode: "inline"
                                        },
                                        scrollable: false,
                                        columns: [{
                                            field: "Title",
                                            title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Article.Fields.Title")"
                                        },{
                                            field: "Stores",
                                            title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Article.Fields.Stores")",
                                            width: 300
                                        },{
                                            field: "ShowOnHomePage",
                                            title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Article.Fields.ShowOnHomePage")",
                                            width: 100,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '# if(ShowOnHomePage) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                        },{
                                            field: "Published",
                                            title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Published")",
                                            width: 100,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                        },{
                                            field: "Id",
                                            title: "@T("Admin.Common.Edit")",
                                            width: 100,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                        }]
                                    });
                                });
                    </script>

                    <script type="text/javascript">
                                $(document).ready(function () {
                                    //search button
                                    $('#btnSearch').click(function () {
                                        //search
                                        var grid = $('#articles-grid').data('kendoGrid');
                                        grid.dataSource.page(1); //new search. Set page size to 1
                                        grid.dataSource.read();
                                        return false;
                                    });

                                    $("#@Html.IdFor(model => model.SearchArticleTitle)").keydown(function (event) {
                                        if (event.keyCode == 13) {
                                            $("#btnSearch").click();
                                            return false;
                                        }
                                    });
                                });

                                function additionalData() {
                                    var data = {
                                        SearchArticleTitle: $('#@Html.IdFor(model => model.SearchArticleTitle)').val(),
                                        SearchStoreId: $('#SearchStoreId').val()
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                                }

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>