@model FoxNetSoft.Plugin.Misc.Articles.Models.Admin.ArticleGroupListModel
@inject AdminAreaSettings adminAreaSettings
@using Nop.Core.Domain.Common
@{
    Layout = "_AdminLayout";
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    //page title
    ViewBag.Title = @T("Admin.FoxNetSoft.Plugin.Misc.Articles.ArticleGroup.Manage").Text;

    Html.SetActiveMenuItemSystemName("FoxNetSoft.Articles.Groups");
}
<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.FoxNetSoft.Plugin.Misc.Articles.ArticleGroup.Manage")
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchArticleGroupName" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchArticleGroupName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="btnSearch" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="articlegroup-grid"></div>

                    <script>
                                    $(document).ready(function () {
                                        $("#articlegroup-grid").kendoGrid({
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: "@Html.Raw(Url.Action("List", "ArticleGroup"))",
                                                        type: "POST",
                                                        dataType: "json",
                                                        data: additionalData
                                                    }
                                                },
                                                schema: {
                                                    data: "Data",
                                                    total: "Total",
                                                    errors: "Errors"
                                                },
                                                error: function(e) {
                                                    display_kendoui_grid_error(e);
                                                    // Cancel the changes
                                                    this.cancelChanges();
                                                },
                                                pageSize: @(defaultGridPageSize),
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverSorting: true
                                            },
                                            pageable: {
                                                refresh: true,
                                                pageSizes: [@(gridPageSizes)]
                                            },
                                            editable: {
                                                confirmation: false,
                                                mode: "inline"
                                            },
                                            scrollable: false,
                                            columns: [{
                                                field: "Breadcrumb",
                                                title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.ArticleGroup.Fields.Name")"
                                            }, {
                                                   field: "Published",
                                                   title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.Published")",
                                                   width: 100,
                                                   headerAttributes: { style: "text-align:center" },
                                                   attributes: { style: "text-align:center" },
                                                   template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                                }, {
                                                    field: "DisplayOrder",
                                                    title: "@T("Admin.FoxNetSoft.Plugin.Misc.Articles.DisplayOrder")",
                                                    //integer format
                                                    format: "{0:0}",
                                                    width: 150
                                                }, {
                                            field: "Id",
                                            title: "@T("Admin.Common.Edit")",
                                            width: 100,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                               }]
                                        });
                                    });
                    </script>

                    <script type="text/javascript">
                                    $(document).ready(function () {
                                        //search button
                                        $('#btnSearch').click(function () {
                                            //search
                                            var grid = $('#articlegroup-grid').data('kendoGrid');
                                            grid.dataSource.page(1); //new search. Set page size to 1
                                            grid.dataSource.read();
                                            return false;
                                        });

                                        $("#@Html.IdFor(model => model.SearchArticleGroupName)").keydown(function (event) {
                                            if (event.keyCode == 13) {
                                                $("#btnSearch").click();
                                                return false;
                                            }
                                        });
                                    });

                                    function additionalData() {
                                        var data = {
                                            SearchArticleGroupName: $('#@Html.IdFor(model => model.SearchArticleGroupName)').val()
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>