@model FoxNetSoft.Plugin.Misc.Articles.Models.Admin.ArticlesSettingsModel
@using Microsoft.AspNetCore.Mvc.Controllers
@using Nop.Core
@using Nop.Core.Plugins
@using Nop.Services.Plugins
@inject IPluginFinder pluginFinder
@inject IWebHelper webHelper
@{
    var plugin = PluginManager.FindPlugin((this.ViewContext.ActionDescriptor as ControllerActionDescriptor).ControllerTypeInfo).Instance();

    //friendly name
    var friendlyName = plugin?.PluginDescriptor.FriendlyName;

    //Misc plugins

    var configureLocale = "Admin.Configuration.Plugins.Misc.Configure";
    var backToLocale = "Admin.Configuration.Plugins.Misc.BackToList";
    var listActionMethodName = "List";
    var listControllerName = "Plugin";

    //Layout = "_ConfigurePlugin";
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("FoxNetSoft.Articles.Configure");
    ViewBag.Title = T(configureLocale).Text + " - " + friendlyName;

}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T(configureLocale) - @friendlyName
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a asp-action="@listActionMethodName" asp-controller="@listControllerName">@T(backToLocale)</a>
        </small>
    </h1>
    <div class="pull-right">
        &nbsp;
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        @await Component.InvokeAsync("StoreScopeConfiguration")
        <form asp-controller="ArticlesSettings" asp-action="Configure" method="post">
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#ShowArticleGroupArticleNumber").click(toggleShowGroupArticleNumberIncludingSubgroups);
                    $("#OpenGraphMetaTags").click(toggleOpenGraphMetaTags);
                    $("#Newsline_Enable").click(toggleNewsLine);
                    $("#ShowArticleOnHomePage").click(toggleHomePage);
                    $("#showDebugInfo").click(toggleshowDebugInfo);

                    toggleHomePage();
                    toggleNewsLine();
                    toggleshowDebugInfo();
                    toggleShowGroupArticleNumberIncludingSubgroups();
                    toggleOpenGraphMetaTags();
                });

                function toggleHomePage() {
                    if ($('#ShowArticleOnHomePage').is(':checked')) {
                        $('#pnHomePageArticlesPerPage, #pnEnablePagerOfArticlesOnHomePage').show();
                    }
                    else {
                        $('#pnHomePageArticlesPerPage, #pnEnablePagerOfArticlesOnHomePage').hide();
                    }
                }
                function toggleNewsLine() {
                    if ($('#Newsline_Enable').is(':checked')) {
                        $('#pnNewsline_WidgetZone, #pnNewsline_PageSize, #pnNewsline_CharsInSmallDescription, #pnNewsline_ArticleThumbPictureSize').show();
                    }
                    else {
                        $('#pnNewsline_WidgetZone, #pnNewsline_PageSize, #pnNewsline_CharsInSmallDescription, #pnNewsline_ArticleThumbPictureSize').hide();
                    }
                }

                function toggleShowGroupArticleNumberIncludingSubgroups() {
                    if ($('#ShowArticleGroupArticleNumber').is(':checked')) {
                        $('#pnlShowGroupArticleNumberIncludingSubgroups').show();
                    }
                    else {
                        $('#pnlShowGroupArticleNumberIncludingSubgroups').hide();
                    }
                }
                function toggleOpenGraphMetaTags() {
                    if ($('#OpenGraphMetaTags').is(':checked')) {
                        $('#pnOpenGraphMetaTags_Facebook_appId, #pnOpenGraphMetaTags_Facebook_admins, #pnOpenGraphMetaTags_Vk_appId').show();
                    }
                    else {
                        $('#pnOpenGraphMetaTags_Facebook_appId, #pnOpenGraphMetaTags_Facebook_admins, #pnOpenGraphMetaTags_Vk_appId').hide();
                    }
                }
                function toggleshowDebugInfo() {
                    if ($('#showDebugInfo').is(':checked')) {
                        $('#pnlclearlogfile, #pnlgetlogfile').show();
                    }
                    else {
                        $('#pnlclearlogfile, #pnlgetlogfile').hide();
                    }
                }
            </script>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @if (Model.IsRegisted == true)
                            {
                                @T("Admin.FoxNetSoft.Plugin.Misc.ArticlesSettings.IsRegisted")
                            }
                            else
                            {
                                @T("Admin.FoxNetSoft.Plugin.Misc.ArticlesSettings.IsNoRegisted")
                                <br />
                                <a href="https://www.foxnetsoft.com/nopcommerce-articles" target="blank">Buy It Now</a>
                            }
                        </p>
                        <p>
                            <div id="pnlcreatesampledata">
                                <a href="@Url.Action("CreateSampleData")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.ArticlesSettings.CreateSampleData")</a>
                            </div>
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Enabled_OverrideForStore" asp-input="Enabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Enabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Enabled" />
                                <span asp-validation-for="Enabled"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ArticleMenuEnabled_OverrideForStore" asp-input="ArticleMenuEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ArticleMenuEnabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ArticleMenuEnabled" />
                                <span asp-validation-for="ArticleMenuEnabled"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="PageSize_OverrideForStore" asp-input="PageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="PageSize" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PageSize" />
                                <span asp-validation-for="PageSize"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ArticleThumbPictureSize_OverrideForStore" asp-input="ArticleThumbPictureSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ArticleThumbPictureSize" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ArticleThumbPictureSize" />
                                <span asp-validation-for="ArticleThumbPictureSize"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="CharsInSmallDescription_OverrideForStore" asp-input="CharsInSmallDescription" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="CharsInSmallDescription" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="CharsInSmallDescription" />
                                <span asp-validation-for="CharsInSmallDescription"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ShowArticleGroupArticleNumber_OverrideForStore" asp-input="ShowArticleGroupArticleNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ShowArticleGroupArticleNumber" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ShowArticleGroupArticleNumber" />
                                <span asp-validation-for="ShowArticleGroupArticleNumber"></span>
                            </div>
                        </div>
                        <div class="form-group" id="pnlShowGroupArticleNumberIncludingSubgroups">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ShowGroupArticleNumberIncludingSubgroups_OverrideForStore" asp-input="ShowGroupArticleNumberIncludingSubgroups" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ShowGroupArticleNumberIncludingSubgroups" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ShowGroupArticleNumberIncludingSubgroups" />
                                <span asp-validation-for="ShowGroupArticleNumberIncludingSubgroups"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ShowArticlesInArticleGroupNavigation_OverrideForStore" asp-input="ShowArticlesInArticleGroupNavigation" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ShowArticlesInArticleGroupNavigation" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ShowArticlesInArticleGroupNavigation" />
                                <span asp-validation-for="ShowArticlesInArticleGroupNavigation"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ArticlePageProductsPerPage_OverrideForStore" asp-input="ArticlePageProductsPerPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ArticlePageProductsPerPage" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ArticlePageProductsPerPage" />
                                <span asp-validation-for="ArticlePageProductsPerPage"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ProductPageArticlesPerPage_OverrideForStore" asp-input="ProductPageArticlesPerPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ProductPageArticlesPerPage" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ProductPageArticlesPerPage" />
                                <span asp-validation-for="ProductPageArticlesPerPage"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AllowArticleSorting_OverrideForStore" asp-input="AllowArticleSorting" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AllowArticleSorting" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AllowArticleSorting" />
                                <span asp-validation-for="AllowArticleSorting"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="BreadcrumbEnabled_OverrideForStore" asp-input="BreadcrumbEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="BreadcrumbEnabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="BreadcrumbEnabled" />
                                <span asp-validation-for="BreadcrumbEnabled"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="EachRootCategoryHasPersonalTree_OverrideForStore" asp-input="EachRootCategoryHasPersonalTree" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="EachRootCategoryHasPersonalTree" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EachRootCategoryHasPersonalTree" />
                                <span asp-validation-for="EachRootCategoryHasPersonalTree"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="UseRootGroupAsAHeader_OverrideForStore" asp-input="UseRootGroupAsAHeader" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="UseRootGroupAsAHeader" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="UseRootGroupAsAHeader" />
                                <span asp-validation-for="UseRootGroupAsAHeader"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @T("Admin.FoxNetSoft.Plugin.Misc.ArticlesSettings.SearchPage")
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="SearchPageArticlesPerPage_OverrideForStore" asp-input="SearchPageArticlesPerPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="SearchPageArticlesPerPage" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SearchPageArticlesPerPage" />
                                <span asp-validation-for="SearchPageArticlesPerPage"></span>
                            </div>
                        </div>
                        <nop-nested-setting asp-for="SearchPageArticlesPerPage">
                            <div class="form-group" id="pnArticleSearchTermMinimumLength ">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="ArticleSearchTermMinimumLength_OverrideForStore" asp-input="ArticleSearchTermMinimumLength" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="ArticleSearchTermMinimumLength" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="ArticleSearchTermMinimumLength" />
                                    <span asp-validation-for="ArticleSearchTermMinimumLength"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnSearchInArticleBodyByDefault">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="SearchInArticleBodyByDefault_OverrideForStore" asp-input="SearchInArticleBodyByDefault" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="SearchInArticleBodyByDefault" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="SearchInArticleBodyByDefault" />
                                    <span asp-validation-for="SearchInArticleBodyByDefault"></span>
                                </div>
                            </div>
                        </nop-nested-setting>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @T("Admin.FoxNetSoft.Plugin.Misc.ArticlesSettings.HomePage")
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ShowArticleOnHomePage_OverrideForStore" asp-input="ShowArticleOnHomePage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ShowArticleOnHomePage" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ShowArticleOnHomePage" />
                                <span asp-validation-for="ShowArticleOnHomePage"></span>
                            </div>
                        </div>
                        <nop-nested-setting asp-for="ShowArticleOnHomePage">
                            <div class="form-group" id="pnHomePageArticlesPerPage">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="HomePageArticlesPerPage_OverrideForStore" asp-input="HomePageArticlesPerPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="HomePageArticlesPerPage" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="HomePageArticlesPerPage" />
                                    <span asp-validation-for="HomePageArticlesPerPage"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnEnablePagerOfArticlesOnHomePage">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="EnablePagerOfArticlesOnHomePage_OverrideForStore" asp-input="EnablePagerOfArticlesOnHomePage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="EnablePagerOfArticlesOnHomePage" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="EnablePagerOfArticlesOnHomePage" />
                                    <span asp-validation-for="EnablePagerOfArticlesOnHomePage"></span>
                                </div>
                            </div>
                        </nop-nested-setting>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @T("Admin.FoxNetSoft.Plugin.Misc.ArticlesSettings.Newsline")
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Newsline_Enable_OverrideForStore" asp-input="Newsline_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Newsline_Enable" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Newsline_Enable" />
                                <span asp-validation-for="Newsline_Enable"></span>
                            </div>
                        </div>
                        <nop-nested-setting asp-for="Newsline_Enable">
                            <div class="form-group" id="pnNewsline_WidgetZone">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="Newsline_WidgetZone_OverrideForStore" asp-input="Newsline_WidgetZone" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Newsline_WidgetZone" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="Newsline_WidgetZone" />
                                    <span asp-validation-for="Newsline_WidgetZone"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnNewsline_PageSize">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="Newsline_PageSize_OverrideForStore" asp-input="Newsline_PageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Newsline_PageSize" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="Newsline_PageSize" />
                                    <span asp-validation-for="Newsline_PageSize"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnNewsline_CharsInSmallDescription">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="Newsline_CharsInSmallDescription_OverrideForStore" asp-input="Newsline_CharsInSmallDescription" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Newsline_CharsInSmallDescription" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="Newsline_CharsInSmallDescription" />
                                    <span asp-validation-for="Newsline_CharsInSmallDescription"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnNewsline_ArticleThumbPictureSize">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="Newsline_ArticleThumbPictureSize_OverrideForStore" asp-input="Newsline_ArticleThumbPictureSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Newsline_ArticleThumbPictureSize" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="Newsline_ArticleThumbPictureSize" />
                                    <span asp-validation-for="Newsline_ArticleThumbPictureSize"></span>
                                </div>
                            </div>
                        </nop-nested-setting>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ShowHeaderRssUrl_OverrideForStore" asp-input="ShowHeaderRssUrl" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ShowHeaderRssUrl" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ShowHeaderRssUrl" />
                                <span asp-validation-for="ShowHeaderRssUrl"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="NumberOfTags_OverrideForStore" asp-input="NumberOfTags" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="NumberOfTags" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="NumberOfTags" />
                                <span asp-validation-for="NumberOfTags"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @T("Admin.FoxNetSoft.Plugin.Misc.ArticlesSettings.Comments")
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AllowNotRegisteredUsersToLeaveComments_OverrideForStore" asp-input="AllowNotRegisteredUsersToLeaveComments" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AllowNotRegisteredUsersToLeaveComments" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AllowNotRegisteredUsersToLeaveComments" />
                                <span asp-validation-for="AllowNotRegisteredUsersToLeaveComments"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="NotifyAboutNewBlogComments_OverrideForStore" asp-input="NotifyAboutNewBlogComments" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="NotifyAboutNewBlogComments" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="NotifyAboutNewBlogComments" />
                                <span asp-validation-for="NotifyAboutNewBlogComments"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="OpenGraphMetaTags_OverrideForStore" asp-input="OpenGraphMetaTags" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="OpenGraphMetaTags" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="OpenGraphMetaTags" />
                                <span asp-validation-for="OpenGraphMetaTags"></span>
                            </div>
                        </div>
                        <nop-nested-setting asp-for="OpenGraphMetaTags">
                            <div class="form-group" id="pnOpenGraphMetaTags_Facebook_appId">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="OpenGraphMetaTags_Facebook_appId_OverrideForStore" asp-input="OpenGraphMetaTags_Facebook_appId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="OpenGraphMetaTags_Facebook_appId" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="OpenGraphMetaTags_Facebook_appId" />
                                    <span asp-validation-for="OpenGraphMetaTags_Facebook_appId"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnOpenGraphMetaTags_Facebook_admins">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="OpenGraphMetaTags_Facebook_admins_OverrideForStore" asp-input="OpenGraphMetaTags_Facebook_admins" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="OpenGraphMetaTags_Facebook_admins" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="OpenGraphMetaTags_Facebook_admins" />
                                    <span asp-validation-for="OpenGraphMetaTags_Facebook_admins"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnOpenGraphMetaTags_Vk_appId">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="OpenGraphMetaTags_Vk_appId_OverrideForStore" asp-input="OpenGraphMetaTags_Vk_appId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="OpenGraphMetaTags_Vk_appId" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="OpenGraphMetaTags_Vk_appId" />
                                    <span asp-validation-for="OpenGraphMetaTags_Vk_appId"></span>
                                </div>
                            </div>
                        </nop-nested-setting>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="TwitterMetaTags_OverrideForStore" asp-input="TwitterMetaTags" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="TwitterMetaTags" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="TwitterMetaTags" />
                                <span asp-validation-for="TwitterMetaTags"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="showDebugInfo" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="showDebugInfo" />
                                <span asp-validation-for="showDebugInfo"></span>
                                <div id="pnlclearlogfile">
                                    <a href="@Url.Action("ClearLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.ArticlesSettings.ClearLogFile")</a>
                                </div>
                                <div id="pnlgetlogfile">
                                    <a href="@Url.Action("GetLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.ArticlesSettings.GetLogFile")</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="StoreUrl" />
                            </div>
                            <div class="col-md-9">
                                <input class="form-control text-box single-line" id="StoreUrl" name="StoreUrl" value="@Model.StoreUrl" type="text" readonly="readonly">
                                <span asp-validation-for="StoreUrl"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SerialNumber" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SerialNumber" />
                                <span asp-validation-for="SerialNumber"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                            </div>
                        </div>
                        <p>
                            Installation and configuring plug-in at Youtube <a href="http://www.youtube.com/foxnetsoft" target="blank">www.youtube.com/foxnetsoft</a>
                            <br />
                            Installation and configuring plug-in at our site <a href="https://www.foxnetsoft.com/documentation-noparticles" target="blank">https://www.foxnetsoft.com/documentation-noparticles</a>
                            <br />
                            <a href="https://www.foxnetsoft.com" target="blank">www.foxnetsoft.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
